*.o
*.lo
*.la
aclocal.m4
autom4te.cache/
autoscan.log
build-stamp
config.guess
config.log
config.status
config.sub
configure
configure.scan
configure-stamp
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4/
Makefile.in
Makefile
mkinstalldirs
missing
patch-stamp
